*{margin: 0;
padding: 0;
}

body{
    background-color:rgb(61, 30, 45);
    text-align:center; 
    color: rgb(240, 191, 214);
}   

.container{
    height: 70vmin;
     display: flex;
    align-items: center;
   justify-content: center;
    

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(175, 75, 122);
    font-size: 8vmin;
    color: rgb(207, 77, 138);
    background-color:  rgb(240, 191, 214);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem; 
    background-color:rgb(240, 191, 214); 
    color:rgb(207, 77, 138); 
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(175, 75, 122);

}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem; 
    background-color:rgb(240, 191, 214); 
    color:rgb(207, 77, 138); 
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(175, 75, 122);

}

#msg{
    font-size: 2rem;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}